@import './variables';
* {
    padding: 0;
    margin: 0cm;
    box-sizing: border-box;

    
}
html {
    scroll-padding-top: 80px;
}
body {
    font-family:'Poppins', sans-serif;
    background-color: ghostwhite;
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

.header__index {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    margin-top: 0px;
    width: 100%;
    height: 70px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.header__index--1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header__img {
    margin-left: 10px;
}
.nav {
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
}
ul {
    margin-bottom: 0;
}

.nav__lista {
    display: flex;
    text-align: center;
    flex-direction: row;
    gap: 20px;
    padding-left: 20px;
    font-size: 20px;
}
.nav__item {
    color:rgb(51, 51, 51);
    text-decoration: none;
}
.hamburguesa {
    display: none;
}
.main {
    padding-top: 30px;
}
.titles {
    font-size: 40px;
    text-align: center;
}
.card__title {
    padding-top: 13px;
    width: 100%;
    height: 110px;
    box-shadow: $boxshadow ;
    background-color: ghostwhite;
}
// Entre paréntesis va la variable que quiero podes cambiar. Le pongo un nombre y el mismo nombre abajo. 
@mixin perritos__t($justify){

    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, fit-content);
    grid-template-rows: repeat(3, fit-content);
    grid-template-areas: 
    "d1 d2"
    "d3 d4"
    "d5 d6";
    gap: 2rem;
    justify-content: $justify;
    
    
}
@mixin centrar {
    margin-left: auto;
    margin-right: auto;
}
@mixin perritos_C {
    width: 600px;
    height: 350px;
    background-color: ghostwhite;
    box-shadow: $boxshadow;
    padding: 10pt;
    padding-right: 15pt;
    padding-bottom: 15pt;
    line-height: 28px;
    text-align: justify;
    & h3 {
        font-weight: bold;
    }
    & img {
        border-radius: 10pt;
        box-shadow: $boxshadowclaro;
        float: left;
        margin-right: 10pt;
        
        &:hover {
            transform: scale(1.2);
            transition: transform 0.3s;

        }
    }
    
    
}
$estilos: (
    color: black,
    fuente: 20px,
    subrayado: underline,
    align: center,
);

@media screen and (max-width: 600px) {
body { 
    background-color: rgb(239, 226, 245);

}
.header__index {
    height: 100px;
    margin-top: 0pt;
    
    padding-bottom: 10pt;
    justify-content: space-between;

    overflow-y: visible;
}
.header__img {
    padding-top: 17pt;
    margin-left: 0pt;
    padding-bottom: 10pt;
}
.header__index--1 {
    padding-left: 15pt;
    padding-right: 15pt;
}
.menudesplegado {
    margin-top: 1rem;
    padding-left: 1rem;
    padding-top: .5rem;
    background: whitesmoke;
    z-index: 1;
    width: 100%;
}
.hamburguesa {
    display: block;
    text-decoration: none;
}
.menudesplegado  li {
    padding-top: 1rem;
    font-size: large;
}
.menudesplegado li:last-child {
    padding-bottom: 1rem;
}

.icono {
    font-size: 30pt;
    text-align: right;
    display: block;
    color: black;

}    
.nav__lista {
    display: none;
}
.nav__lista--mobile {
    flex-direction: column;
}
}