$gradiente1: rgb(238,174,202);
$gradiente2: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
$boxshadow: 0 0 10px rgba(33, 33, 33, .5 );
$boxshadowclaro: 0 0 10px #D7D7DD;
$colorfondo: rgb(239, 226, 245);